.desc{
    font-family: Impact, Charcoal, sans-serif;
    font-size:45px;
}
.recipe-item{
    padding-top: 10px;
}
.title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 75px;
}
.text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size : 15px;
}